@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #111827;
}

@media (max-width: 768px) {
  main {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  h1 {
    font-size: 36px !important;
  }

  h2 {
    font-size: 28px !important;
  }
}

